@media only screen and (pointer: coarse) {

    .ul__Amphis .ul--petimg {
        content: url(https://i.imgur.com/FQHgH5T.png)
    }

    .ul__Boitata .ul--petimg {
        content: url(https://i.imgur.com/AyAJuEh.png)
    }

    .ul__Boto.Rosa .ul--petimg {
        content: url(https://i.imgur.com/23pk7eE.png)
    }

    .ul__🚀.Buzz.Lightyear .ul--petimg {
        content: url(https://i.imgur.com/p7Fanrw.png)
    }

    .ul__Cuca .ul--petimg {
        content: url(https://i.imgur.com/pWYDcWE.png)
    }

    .ul__Cupim .ul--petimg {
        content: url(https://i.imgur.com/Jg0nEQA.png)
    }

    .ul__Curupira .ul--petimg {
        content: url(https://i.imgur.com/TOLeX03.png)
    }

    .ul__Dionaea .ul--petimg {
        content: url(https://i.imgur.com/fkVLlic.png)
    }

    .ul__Iara .ul--petimg {
        content: url(https://i.imgur.com/A03P7Qk.png)
    }

    .ul__Kymera .ul--petimg {
        content: url(https://i.imgur.com/VnMVjvy.png)
    }

    .ul__Lobisomem .ul--petimg {
        content: url(https://i.imgur.com/1CDOqA2.png)
    }

    .ul__Mula .ul--petimg {
        content: url(https://i.imgur.com/up1Azsi.png)
    }

    .ul__Nelumbo .ul--petimg {
        content: url(https://i.imgur.com/OHo9Uya.png)
    }

    .ul__Nephentes .ul--petimg {
        content: url(https://i.imgur.com/qoQH0gC.png)
    }

    .ul__Orchidacea .ul--petimg {
        content: url(https://i.imgur.com/lD2cIM0.png)
    }

    .ul__Salazzle .ul--petimg {
        content: url(https://i.imgur.com/cf5O9cI.png)
    }

    .ul__Swamper .ul--petimg {
        content: url(https://i.imgur.com/71EBRxF.png)
    }

    .ul__Syzz .ul--petimg {
        content: url(https://i.imgur.com/Yv5bFdF.png)
    }

    .ul__Vermithor .ul--petimg {
        content: url(https://i.imgur.com/1G53z4g.png)
    }

    .ul__🛸.Emperor.Zurg .ul--petimg {
        content: url(https://i.imgur.com/qPABHXp.png)
    }

    .ul__4C4R4 .ul--petimg {
        content: url(https://i.imgur.com/eDMPqR0.png)
    }

    .ul__41SH4 .ul--petimg {
        content: url(https://i.imgur.com/N0oFNyI.png)
    }

    .ul__BLUM4R00 .ul--petimg {
        content: url(https://i.imgur.com/ozBJlaW.png)
    }

    .ul__CH14 .ul--petimg {
        content: url(https://i.imgur.com/E2INpb0.png)
    }

    .ul__GN0RBU .ul--petimg {
        content: url(https://i.imgur.com/s4XbnDD.png)
    }

    .ul__GRUND0 .ul--petimg {
        content: url(https://i.imgur.com/9DcpUaZ.png)
    }

    .ul__H1SS1 .ul--petimg {
        content: url(https://i.imgur.com/Pht1zNj.png)
    }

    .ul__K4CH33K .ul--petimg {
        content: url(https://i.imgur.com/NVM7fsJ.png)
    }

    .ul__K1K0 .ul--petimg {
        content: url(https://i.imgur.com/gyyNeRD.png)
    }

    .ul__K0RB4T .ul--petimg {
        content: url(https://i.imgur.com/JYFEfBg.png)
    }

    .ul__K0UGR4 .ul--petimg {
        content: url(https://i.imgur.com/gIF5opN.png)
    }

    .ul__KR4WK .ul--petimg {
        content: url(https://i.imgur.com/GJ6eZst.png)
    }

    .ul__LUP3 .ul--petimg {
        content: url(https://i.imgur.com/c2yto6W.png)
    }

    .ul__0GR1N .ul--petimg {
        content: url(https://i.imgur.com/hDKmLkP.png)
    }

    .ul__P00GL3 .ul--petimg {
        content: url(https://i.imgur.com/NvFBS1q.png)
    }

    .ul__SC0RCH10 .ul--petimg {
        content: url(https://i.imgur.com/P8ndaTc.png)
    }

    .ul__T3CH0 .ul--petimg {
        content: url(https://i.imgur.com/ibjycd5.png)
    }

    .ul__W0CKY .ul--petimg {
        content: url(https://i.imgur.com/ixvT4R3.png)
    }

    .ul__0K .ul--petimg {
        content: url(https://i.imgur.com/0WW4pOc.png)
    }

    .ul__CH0MBY .ul--petimg {
        content: url(https://i.imgur.com/Hiwx5Vs.png)
    }

    .ul__Degelo .ul--petimg {
        content: url(https://i.imgur.com/SV3mItv.png)
    }

    .ul__Friaca .ul--petimg {
        content: url(https://i.imgur.com/alBIrbr.png)
    }

    .ul__Gurio .ul--petimg {
        content: url(https://i.imgur.com/7y7xCD8.png)
    }

    .ul__Brrrrr .ul--petimg {
        content: url(https://i.imgur.com/9h125YE.png)
    }

    .ul__Friento .ul--petimg {
        content: url(https://i.imgur.com/SXzHzYf.png)
    }

    .ul__XW33T0K .ul--petimg {
        content: url(https://i.imgur.com/Oovk4vD.png)
    }

    .ul__Z4F4R4 .ul--petimg {
        content: url(https://i.imgur.com/CqJX17v.png)
    }

    .ul__Coldy .ul--petimg {
        content: url(https://i.imgur.com/RXEb53A.png)
    }

    .ul__Desolado .ul--petimg {
        content: url(https://i.imgur.com/fVcI7To.png)
    }

    .ul__Drama.King .ul--petimg {
        content: url(https://i.imgur.com/XpjSuKf.png)
    }

    .ul__Languish .ul--petimg {
        content: url(https://i.imgur.com/fcUneFc.png)
    }

    .ul__Mucinex .ul--petimg {
        content: url(https://i.imgur.com/12c8UzW.png)
    }

    .ul__Neve .ul--petimg {
        content: url(https://i.imgur.com/lHMQUq1.png)
    }

    .ul__Nimbo .ul--petimg {
        content: url(https://i.imgur.com/Nn8DXUh.png)
    }

    .ul__Saylor .ul--petimg {
        content: url(https://i.imgur.com/RMDtv1J.png)
    }

    .ul__Sofrer .ul--petimg {
        content: url(https://i.imgur.com/CkunDjr.png)
    }

    .ul__Sumber .ul--petimg {
        content: url(https://i.imgur.com/Nd4Da8M.png)
    }

    .ul__Tida .ul--petimg {
        content: url(https://i.imgur.com/YQxxIYu.png)
    }

    .ul__Judiado .ul--petimg {
        content: url(https://i.imgur.com/PorRIYo.png)
    }

    .ul__Assolan .ul--petimg {
        content: url(https://i.imgur.com/Eur7AIi.png)
    }

    .ul__Bafo .ul--petimg {
        content: url(https://i.imgur.com/iHEQL1M.png)
    }

    .ul__Barnable .ul--petimg {
        content: url(https://i.imgur.com/vesxF0c.png)
    }

    .ul__Brilhus .ul--petimg {
        content: url(https://i.imgur.com/RGv8Bsu.png)
    }

    .ul__Chakota .ul--petimg {
        content: url(https://i.imgur.com/7TE611f.png)
    }

    .ul__Danoninho .ul--petimg {
        content: url(https://i.imgur.com/RuYM4Gz.png)
    }

    .ul__Disko .ul--petimg {
        content: url(https://i.imgur.com/p6ZmG9I.png)
    }

    .ul__Eskibon .ul--petimg {
        content: url(https://i.imgur.com/b7h1cmj.png)
    }

    .ul__Jeitosa .ul--petimg {
        content: url(https://i.imgur.com/b4ZDgVt.png)
    }

    .ul__Joji .ul--petimg {
        content: url(https://i.imgur.com/lRFFkwQ.png)
    }

    .ul__Laranja .ul--petimg {
        content: url(https://i.imgur.com/Mo4nvuH.png)
    }

    .ul__Melken .ul--petimg {
        content: url(https://i.imgur.com/xnHtTWN.png)
    }

    .ul__Mundy .ul--petimg {
        content: url(https://i.imgur.com/l6aKK4o.png)
    }

    .ul__Narval .ul--petimg {
        content: url(https://i.imgur.com/PZkxQ8l.png)
    }

    .ul__Nuggetinho .ul--petimg {
        content: url(https://i.imgur.com/IgLeOt7.png)
    }

    .ul__Pudinho .ul--petimg {
        content: url(https://i.imgur.com/8QngU2Q.png)
    }

    .ul__Tinindo .ul--petimg {
        content: url(https://i.imgur.com/1RDvlES.png)
    }

    .ul__Ilarie .ul--petimg {
        content: url(https://i.imgur.com/rtlBR4Z.png)
    }

    .ul__Amador .ul--petimg {
        content: url(https://i.imgur.com/QVDJWMC.png)
    }

    .ul__Ammora .ul--petimg {
        content: url(https://i.imgur.com/OvrMqna.png)
    }

    .ul__Avel .ul--petimg {
        content: url(https://i.imgur.com/jkIgcGT.png)
    }

    .ul__Celester .ul--petimg {
        content: url(https://i.imgur.com/PIvfkyO.png)
    }

    .ul__Esquilo .ul--petimg {
        content: url(https://i.imgur.com/IZyGYDH.png)
    }

    .ul__Fluidez .ul--petimg {
        content: url(https://i.imgur.com/xdiEqCL.png)
    }

    .ul__Haema .ul--petimg {
        content: url(https://i.imgur.com/EQZEyGl.png)
    }

    .ul__Krak .ul--petimg {
        content: url(https://i.imgur.com/X246BUr.png)
    }

    .ul__Little.Lamb .ul--petimg {
        content: url(https://i.imgur.com/aaySuyH.png)
    }

    .ul__Phenyx .ul--petimg {
        content: url(https://i.imgur.com/kLCEudc.png)
    }

    .ul__Roselya .ul--petimg {
        content: url(https://i.imgur.com/pNIpAjO.png)
    }

    .ul__Sneekon .ul--petimg {
        content: url(https://i.imgur.com/UEk7iep.png)
    }


    .ul__Sozinha .ul--petimg {
        content: url(https://i.imgur.com/BsNnQ15.png)
    }

    .ul__Susi .ul--petimg {
        content: url(https://i.imgur.com/VcNC2su.png)
    }

    .ul__Tereshkova .ul--petimg {
        content: url(https://i.imgur.com/NJUjSQr.png)
    }

    .ul__Peonia .ul--petimg {
        content: url(https://i.imgur.com/x8hg7pt.png)
    }

    .ul__K01 .ul--petimg {
        content: url(https://i.imgur.com/d2edvwO.png);
    }

    .ul__Calota .ul--petimg {
        content: url(https://i.imgur.com/ohSno3w.png);
    }

    .ul__Papito .ul--petimg {
        content: url(https://i.imgur.com/QFkMoBr.png);
    }

}