@import url(https://fonts.cdnfonts.com/css/akira-expanded);
@import url(https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400..700&display=swap);
@import url(https://fonts.cdnfonts.com/css/stretch-pro);

html,
body {
    margin: 0;
    padding: 0;
}

#gc_banner {
    display: none
}

body {
    font-family: JetBrains Mono;
    color: #fff;
}

a {
    transition: 0.3s all ease;
    text-decoration: none;
    color: #000;
}

nav {
    top: 0;
    width: 100%;
    height: 60px;
    background: #000;
    color: #fff;
    display: flex;
    position: relative;
    z-index: 0;
}

aside {
    width: 200px;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    background-color: #000;
    background-image: url(img/dark-background.png);
    background-position: bottom;
    background-size: 300px;
    background-repeat: no-repeat;
    text-align: center;
}

#logo {
    margin-top: 40px;
    width: 100%;
}

.planet {
    width: 140%;
    margin-left: -25%;
    animation: float 3s ease-in-out infinite;
}

.logo-text {
    font-family: Stretch Pro;
    font-weight: 900;
    color: #595959;
    position: absolute;
    z-index: 1;
    font-size: 16px;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 65px;
    margin-left: -4px;
    animation: float 3s ease-in-out infinite;

}

header {
    width: calc(100% - 200px);
    margin-left: 200px;
    position: relative;
    height: 600px;
    background-image: linear-gradient(0deg,
            rgba(255, 255, 255, 0) 0%,
            #e9acfd 30%,
            #a96afd 50%,
            rgb(40, 39, 227) 70%,
            rgb(2, 3, 51) 90%,
            hsl(0deg 0% 0%) 100%);
}

header::after {
    background-image: linear-gradient(0deg,
            rgb(255, 255, 255) 0%,
            rgba(0, 0, 0, 0) 100%);
    height: 200px;
    width: 100%;
    content: ' ';
    position: absolute;
    bottom: 0;
}

.wavy {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.wavy img {
    mix-blend-mode: overlay;
    width: 100%;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}


.button {
    display: block;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 18px 30px 20px;
    font-family: Stretch Pro;
    transition: .5s all ease;
}

@media only screen and (max-width: 1440px) {}