@import url(https://fonts.cdnfonts.com/css/akira-expanded);
@import url(https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400..700&display=swap);
@import url(https://fonts.cdnfonts.com/css/stretch-pro);

html,
body {
    margin: 0;
    padding: 0;
}

#gc_banner {
    display: none
}

body {
    font-family: JetBrains Mono;
}

a {
    transition: 0.3s all ease;
    text-decoration: none;
    color: #000;
}

nav {
    position: absolute;
    background: #ffffff;
    padding: 20px 30px;
    width: 100%;
    box-sizing: border-box;
    z-index: 11111;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    justify-content: space-between;
}

nav .akira {
    font-family: Akira Expanded;
    font-size: 14px;
}

nav ul li:nth-of-type(3) {
    text-align: right;
}

#logo {
    width: 80px;
}

.planet {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: calc(50% - 50px);
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

main {
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
}

main section {
    width: 50%;
    height: 100vh !important;
}

#graphics {
    background: url(img/light-background.png);
    background-size: 110%;
    background-position: 65% 20%;
}

#layouts {
    background-image: url(img/dark-background.png);
    background-size: 100%;
    background-position: 60% 20%;
}