@import url(https://fonts.cdnfonts.com/css/akira-expanded);
@import url(https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400..700&display=swap);
@import url(https://fonts.cdnfonts.com/css/stretch-pro);

html,
body {
    margin: 0;
    padding: 0;
}

#gc_banner {
    display: none
}

body {
    font-family: JetBrains Mono;
    color: #fff;
}

a {
    transition: 0.3s all ease;
    text-decoration: none;
    color: #000;
}

.border {
    position: fixed;
    z-index: 999;
    background: #fff;
}

.left {
    left: 0;
    bottom: 0;
    width: 30px;
    height: 100%;
}

.right {
    right: 0;
    bottom: 0;
    width: 30px;
    height: 100%;
}

.bottom {
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}

nav {
    position: absolute;
    background: #ffffff;
    padding: 20px 30px;
    width: 100%;
    box-sizing: border-box;
    z-index: 11111;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    justify-content: space-between;
}

nav .akira {
    font-family: Akira Expanded;
    font-size: 14px;
}

nav ul li:nth-of-type(3) {
    text-align: right;
}

#logo {
    width: 80px;
}

.planet {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: calc(50% - 50px);
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

main {
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    background:
        linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mix-blend-mode: overlay;
}

main section {
    display: block;
    width: 50%;
    height: 100vh !important;
}

#left {
    background: url(img/light-background.png);
    background-size: 110%;
    background-position: 65% 30%;
    transition: .8s all ease;
}

#right {
    background-image: url(img/dark-background.png);
    background-size: 100%;
    transition: .8s all ease;
    background-position: 60% 30%;
}

#left:hover {
    transition: .8s all ease;
    background-size: 115%;
    margin-top: -20px;
}

#right:hover {
    transition: .8s all ease;
    background-size: 105%;
    margin-top: -20px;
}

.text-wrapper-left {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100% - 100px);
    bottom: 0;
    left: 0;
    position: absolute;
}

.button {
    display: block;
    background: #81152f;
    color: #fff;
    letter-spacing: 1px;
    padding: 20px 30px;
    font-family: Stretch Pro;
    transition: .5s all ease;
}

.button:hover {
    background: #fff;
    color: #81152f;
    transition: .5s all ease;
}

#status {
    bottom: 50px;
    position: absolute;
    width: 50%;
    font-size: 14px;
}

.status-wrapper {
    display: flex;
    justify-content: center;
}

.status-label {
    background: #fff;
    color: #ffa92d;
    padding: 10px 12px 8px 14px;
    font-weight: 500;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    letter-spacing: -.5px;
}

.status-field {
    border: 2px solid #fff;
    padding: 8px 15px;
    font-weight: 900;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    letter-spacing: 0;
}