@import url(https://fonts.googleapis.com/css2?family=Inconsolata:wght@400..700&display=swap);

#noise {
    background: url(https://decygn.github.io/gc-cyde/personal/dexa-lookup/img/noise.png);
    width: 100%;
    height: 100%;
    z-index: 99999999999 !important;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    mix-blend-mode: lighten;
    pointer-events: none
}

@font-face {
    font-family: Commuter Sans;
    src: url(https://decygn.github.io/gc-cyde/personal/dexa-lookup/fonts/CommutersSans-Regular.ttf);
    font-weight: 400
}

@font-face {
    font-family: Commuter Sans;
    src: url(https://decygn.github.io/gc-cyde/personal/dexa-lookup/fonts/CommutersSans-ExtraBold.ttf);
    font-weight: 800
}

body {
    background-image: url(https://decygn.github.io/gc-cyde/personal/dexa-lookup/img/background.jpg);
    color: #fff;
    font-family: Inconsolata
}

#aio_sidebar,
#sb_top,
#page_banner,
#sb_side,
#page_footer,
.petJobs,
#petTraits,
#petLead,
#petImage strong,
#petLinks,
hr,
#petBattle img {
    display: none
}

h1,
h2,
h3 {
    font-family: Commuter Sans
}

/* ================= PAGE EVENT STYLING ================= */
#page_event {
    color: #000;
    width: 70% !important;
    font-family: sans-serif;
    margin-top: 350px;
    margin-bottom: 170px
}

#page_event .re {
    padding: 15px;
    border: 13px solid #393A3C
}

#page_event .re_shh {
    background: #393A3C;
    color: #fff;
    padding: 6px;
    margin-bottom: 8px
}

#page_event .re_text {
    margin-left: 10px
}

/* ================= LAYOUT STRUCTURE ================= */
#container {
    width: 100%;
    display: block;
    min-width: fit-content !important;
    margin-top: -40px;
    margin-bottom: 230px
}

#page_content {
    width: 70% !important;
    grid-area: none
}

@keyframes reveal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    pointer-events: none;
    z-index: -1;
    opacity: 0;
    animation: 1.3s slidedown 0.3s forwards
}

header img {
    width: 100%
}

@keyframes slidedown {
    0% {
        opacity: 0;
        margin-top: -40px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

#petLookupContent {
    width: 480px !important;
    margin: 0 auto;
    margin-top: 270px !important
}

#petInfo {
    width: unset;
    display: block;
    opacity: 0;
    animation: 0.8s reveal 1s forwards
}

#petImage {
    position: absolute;
    margin-top: -130px;
    margin-left: -150px
}

#petImage img {
    width: 220px;
    content: url(https://decygn.github.io/gc-cyde/personal/dexa-lookup/img/pet-image.png)
}

.pet--header {
    width: 480px;
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 21px;
    letter-spacing: 1px;
    margin-top: 110px;
    text-align: center;
    margin-left: 15px;
    letter-spacing: -1px;
    transform: scaley(0.85);
    z-index: 111;
    opacity: 0;
    animation: 0.8s reveal 1s forwards
}

.pet--header::after {
    z-index: -1;
    opacity: 0.9;
    top: -28px;
    left: 12px;
    transform: scalex(1.34) scaley(1.25) rotate(5deg);
    filter: hue-rotate(-3deg);
    position: absolute;
    display: block;
    content: url(https://decygn.github.io/gc-cyde/personal/dexa-lookup/img/scribble.png)
}

.pet--header a {
    color: #fff;
    font-weight: 800 !important
}

.pet--name {
    display: block;
    font-size: 40px;
    line-height: 0.9
}

#petImage strong,
.pet--statsheader {
    display: none
}

#petStats {
    width: 480px;
    height: 550px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-image: url(https://decygn.github.io/gc-cyde/personal/dexa-lookup/img/stats-background.png);
    border-image-slice: 56 54 71 58 fill;
    border-image-width: 30px 40px 30px 40px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    text-transform: capitalize !important;
    background: none;
    line-height: 1.4;
    font-weight: 600;
    font-size: 14px
}

.pet--hpcolor,
.pet--gendercolor {
    color: #fff !important;
    font-weight: 600
}

.pet--statslabel {
    margin-right: 8px;
    color: #de220e !important;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase !important
}

.pet--ownerlink {
    color: #de220e
}

.pet--statslabel::after {
    content: "→";
    font-size: 12px;
    color: #ddd;
    font-weight: 100;
    margin-left: 7px
}

#petBattle {
    background: #fff;
    color: #000;
    padding: 25px 30px;
    width: fit-content !important;
    gap: 0;
    line-height: 1.1;
    position: absolute;
    margin-top: 500px;
    margin-left: 30px;
    opacity: 0;
    animation: 0.8s reveal 1s forwards
}

.pet--recordheader::after,
#petChallenge {
    display: none
}

.pet--recordheader::before {
    margin-right: 3px;
    content: "💣"
}

.pet--recordheader {
    text-transform: uppercase;
    font-weight: 500;
    color: #de220e;
    font-family: Commuter Sans;
    border-bottom: 1px dashed #999;
    padding-bottom: 13px;
    margin-bottom: 16px
}

.pet--recordlabel::after {
    content: "→";
    font-size: 12px;
    color: grey;
    margin-left: 7px;
    margin-right: 7px
}

#petPetpet {
    margin-top: 530px;
    position: absolute;
    width: 400px;
    margin-left: 110px;
    text-transform: uppercase;
    opacity: 0;
    animation: 0.8s reveal 1s forwards
}

.pet--petpetheader {
    font-size: 0
}

.pet--petpetheader::after {
    font-size: 16px;
    font-family: Commuter Sans;
    font-weight: 800;
    background: #fff;
    color: #000;
    display: block;
    width: fit-content;
    transform: rotate(16deg);
    margin-top: -30px;
    margin-left: 320px;
    letter-spacing: -1px;
    padding: 3px 9px 5px;
    z-index: 9 !important;
    position: relative;
    content: "PETPET"
}

.pet--petpetimg {
    display: block;
    margin-left: 50px;
    margin-top: 20px;
    content: url(https://decygn.github.io/gc-cyde/personal/dexa-lookup/img/petpet.png);
    position: absolute;
    width: 70px;
    z-index: 9 !important
}

.pet--petpetname {
    display: block;
    font-size: 66px;
    margin-bottom: 1px;
    z-index: -3 !important;
    letter-spacing: -5px;
    transform: scaley(0.85);
    font-weight: 700
}

.pet--petpetname::after {
    position: absolute;
    transform: rotate(15deg) translate(-10px) scaley(1.1) scalex(1.1);
    top: 0;
    left: 0;
    margin-left: 30px;
    margin-top: -23px;
    z-index: -30;
    display: block;
    content: url(https://decygn.github.io/gc-cyde/personal/dexa-lookup/img/tape.png)
}

.pet--petpetdesc {
    z-index: 999 !important;
    font-weight: 800;
    letter-spacing: -1.5px;
    font-family: Commuter Sans;
    transform: translate(10px) rotate(-12deg) scaley(0.8)
}

.pet--petpetdesc:not(strong) {
    display: block;
    font-size: 28px;
    margin-left: 50px
}

.pet--petpetage {
    margin-left: 123px;
    margin-top: -12px;
    transform: translate(-10px) rotate(-12deg);
    font-size: 14px
}

footer {
    bottom: -620px !important;
    position: absolute;
    height: 220px;
    left: 0;
    background-size: cover;
    filter: brightness(1.1) hue-rotate(2deg) saturate(1.1) contrast(1.1);
    background-image: url(https://decygn.github.io/gc-cyde/personal/dexa-lookup/img/footer.png);
    width: 100%;
    opacity: 0;
    animation: 0.8s reveal 1.2s forwards;
    z-index: 9999999
}

nav {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 140px
}

nav a {
    margin: 0 20px
}

footer a {
    color: #fff;
    padding-bottom: 2px
}

footer a:hover {
    border-bottom: 1px dashed #000;
    color: #000
}

::selection {
    color: #fff;
    background-color: #000
}

@media screen and (max-width: 1500px) {
    #page_content {
        width: 80% !important
    }
}

@media screen and (max-width: 1100px) {
    #page_content {
        width: 100% !important
    }

    footer {
        bottom: -520px !important
    }
}

@media screen and (max-width: 900px) {
    #container {
        margin-top: -150px
    }

    #page_content {
        width: 100% !important
    }
}

@media screen and (max-width: 830px) {
    #petImage {
        margin-top: -110px;
        margin-left: -90px
    }

    #petImage img {
        width: 180px !important
    }
}

@media screen and (max-width: 685px) {
    #container {
        margin-top: -170px
    }

    #petImage {
        margin-top: -90px;
        margin-left: -30px
    }

    #petImage img {
        width: 150px !important
    }
}

@media screen and (min-height: 1201px) {
    footer {
        bottom: -10px !important;
        position: fixed
    }
}