@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('');

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: Jost;
    font-weight: 400;
    font-size: 1.2em;
    color: #888;
}

a {
    transition: .3s all ease;
}

#floral-border {
    width: 100%;
    height: auto;
    z-index: 99999999999;
    position: fixed;
}

#floral-border img {
    width: 100%;
}

#fixed-nav {
    top: 40px;
    text-align: center;
    left: 10px;
    width: 225px;
    position: fixed;
    transform: scale(0.9);
}

nav {
    margin-top: -20px;
    width: 225px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 11px;
}

nav a {
    margin-left: -8px;
    margin-bottom: -15px;
    display: block;
    transition: .3s all ease;
    position: relative;
}

nav a img {
    transition: .3s all ease;
}

nav a::after {
    content: '';
    width: 110px;
    height: 50px;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    transition: .3s all ease;
}

nav a:nth-of-type(1)::after {
    background-image: url(https://decygn.github.io/gc-cyde/commissions/gaby-astronaut-petpage/img/nav-button-1-lookup-hover.png);
}

nav a:nth-of-type(2)::after {
    background-image: url(https://decygn.github.io/gc-cyde/commissions/gaby-astronaut-petpage/img/nav-button-2-owner-hover.png);
}

nav a:nth-of-type(3)::after {
    background-image: url(https://decygn.github.io/gc-cyde/commissions/gaby-astronaut-petpage/img/nav-button-3-credit-hover.png);
}

nav a:nth-of-type(4)::after {
    background-image: url(https://decygn.github.io/gc-cyde/commissions/gaby-astronaut-petpage/img/nav-button-4-exit-hover.png);
}

nav a:nth-of-type(1):hover::after,
nav a:nth-of-type(2):hover::after,
nav a:nth-of-type(3):hover::after,
nav a:nth-of-type(4):hover::after {
    opacity: 1;
}

header {}

#header-background img {
    width: 100%;
}

#gallery {
    display: Flex;
    flex-direction: row-reverse;
    width: 1000px;
    height: 900px;
    background: pink;
    margin: 0 auto;
}

#thumbnails {
    width: 400px;
    overflow-y: scroll;
    height: 900px;
    display: flex;
    flex-direction: row;
    background: green;
    flex-wrap: wrap;
    flex: 1 0 150px;
    justify-content: space-between;
}

#thumbnails a {
    display: block;
}

#thumbnails .preview {
    width: calc(50% - 10px);
    border: 5px solid red;
    height: 300px;
    display: block !important;
}

#large-preview {
    background: grey;
    height: 900px;
    display: flex;
}

#large-preview-container {
    width: 700px;
    height: 700px;
    overflow: hidden;
}

/* PAGES */
.section {
    background: red;
    height: 700px;
    width: 500px;
}

/* MISC ORGANIZATION WRAPPERS */
.col {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
    width: fit-content;
    margin: 15px auto
}

.rw {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    width: fit-content;
    margin: 5px auto
}

@media (orientation: portrait) and (max-width: 1080px) {}