html,
body {
    text-size-adjust: 100%;
    background: #fff;
    font-feature-settings: normal;
    -webkit-tap-highlight-color: transparent;
    font-family: ui-sans-serif, -apple-system, system-ui, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-variation-settings: normal;
    line-height: 1.5;
    color: #333;
}

#aio_sidebar,
#sb_top,
#page_banner,
#sb_side,
#page_footer,
.petJobs,
#petTraits,
#petLead,
#petImage,
#petImage strong,
#petLinks,
hr,
#petBattle img {
    display: none
}

a:hover {
    color: #d60202;
}

aside {
    position: fixed;
    background: #fafafa;
    width: 260px;
    height: 100%;
    top: 0;
    left: 0;
    text-align: left;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav li {
    list-style: none;
    margin-bottom: 15px;
}

.credit {
    text-align: center;
}

.credit a {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

aside a {
    font-weight: 400;
    color: #333;
    letter-spacing: -0.3px;
    font-size: 16px;
}

aside li img {
    width: 20px;
    margin-right: 13px;
    display: inline-block;
    position: relative;
    margin-top: -2px;
    opacity: 0.8;
    mix-blend-mode: multiply;
}

aside nav li:nth-of-type(1) a {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.3px;
    margin-bottom: 20px;
    display: block;
}

#container {
    display: block;
    width: calc(100% - 260px);
    margin-left: 260px;
    min-width: unset;
}

#petDescription {
    order: -100;
}

#topbar {
    position: fixed;
    left: 260px;
    right: 0;
    top: 0;
    width: calc(100% - 260px);
    box-sizing: border-box;
    padding: 20px 30px;
    height: 50px;
    background: #fff;
    z-index: 111;
    display: flex;
    justify-content: space-between;
}

.topbar-name {
    font-size: 20px;
    font-weight: 600;
    color: #999;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border-radius: 100%;
    background: #d60202;
    height: 40px;
    width: 40px;
}

#petStats {
    width: 500px;
    background: none;
    text-align: left;
}

#page_content {
    width: 100%;
}

#petLookupContent {
    width: 800px;
    position: absolute;
    left: 260px;
    right: 0;
    margin: 0 auto;
    gap: 0;
}

header {
    margin: 150px auto 80px;
}

.blue {
    color: #abc7e2;
}

h1,
h2,
h3 {
    font-weight: 500;
}

header h1 {
    font-size: 2.6rem;
    line-height: 1.25;
    margin: 30px auto 0;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

header h2 {
    padding: 0;
    color: #aaa;
    font-size: 1.7rem;

    margin: 20px auto 0;


    overflow: hidden;
    white-space: nowrap;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

b,
strong {
    font-weight: 500;
}

#chatbox {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    letter-spacing: -0.2px;
}

#chatbox a,
a,
.link {
    color: #2964aa;
}

.chat-message {
    width: fit-content;
    align-self: flex-end;
    text-align: right;
    background: #f6f6f6;
    padding: 15px 25px;
    border-radius: 30px;
    margin: 30px 0;
}

#petTop {
    text-align: left;
    font-size: 18px;
    letter-spacing: -0.2px;
    position: relative;
}

#petTop::before {
    content: "Of course! Here are my current stats:";
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 30px;
    width: 100%;
    position: absolute;
}

#petTop::after {
    margin-top: 20px;
    display: block;
    padding-top: 30px;
    border-top: 1px solid #ddd;
    content: "Is there anything else you would like to know?";
}

#petInfo {
    margin: unset;
}

.pet--header {
    margin-top: 80px;
    font-weight: 700;
}

.pet--header::after {
    content: '🤖';
}

.pet--name,
.pet--ownerlink {
    color: #abc7e2;
}

.pet--statsheader {
    display: none;
}

.pet--statslabel strong {
    font-weight: 600;
    color: #000;
}

.pet--statslabel::after,
.pet--jobslabel::after,
.pet--recordlabel::after {
    content: ": ";
    margin-right: 2px;
}

.pet--color {
    font-weight: 700;
}

.pet--gendercolor,
.pet--hpcolor {
    color: #333;
    font-weight: 400;
}

#petBattle,
.pet--petpetheader {
    display: none;
}

.icons {
    width: fit-content;
    position: absolute;
}

.icons:nth-of-type(1) {
    margin-top: 700px;
}

.chat-message:nth-of-type(2) {
    position: absolute;
    margin-top: 760px;
}

#petPetpet {
    margin-top: 180px;
    text-align: left;
    font-size: 18px;
    margin-bottom: 350px;
    letter-spacing: -0.2px;
}

#petPetpet::before {
    font-size: 18px;
    letter-spacing: -0.2px;
    content: "This is my petpet!"
}

.icons:nth-of-type(2) {
    margin-top: 1030px;
}

.chat-message:nth-of-type(3) {
    position: absolute;
    margin-top: 1100px;
}

.input-bar {
    bottom: 20px;
    position: fixed;
    background: #fff;
    width: 760px;
    margin-left: -10px;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 3px #ddd;
    padding: 30px;
    color: #ccc;
    font-size: 17px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    z-index: 1;
}

.input-bar img {
    width: 40px;
    opacity: 0.9;
}

.warning {
    bottom: 0;
    position: fixed;
    font-size: 12px;
    padding: 10px 0 12px;
    background: #fff;
    width: 800px;
}

@media only screen and (max-width: 1130px) {

    aside {
        width: 160px;
    }

    #container {
        display: block;
        width: calc(100% - 160px);
        margin-left: 160px;
    }

    #topbar {
        position: fixed;
        left: 160px;
        width: calc(100% - 160px);
    }

    aside li img {
        display: none;
    }

    #petLookupContent {
        left: 160px;
        min-width: unset;
        width: calc(100% - 260px);
    }

    .input-bar,
    .warning {
        box-sizing: border-box;
        width: calc(100% - 260px);
    }
}