@import url(https://decygn.github.io/gc-cyde/commissions/stephanie-gallery/atmosphere.css);

html,
body {
    overflow-x: hidden !important;
}

#sb_side,
#page_banner,
#sb_top,
#shopBar,
#aio_sidebar,
#galCats,
#galleryKeeper,
#galleryInfo,
hr,
#page_footer {
    display: none;
}

body {
    background: url(https://decygn.github.io/gc-cyde/commissions/stephanie-gallery/img/background.jpg?) no-repeat top center/cover;
    font-family: ;
    color: #fff;
}

a {
    color: #8c3e0f;
    transition: .3s all ease;
}

a:hover {
    color: #482e11;
}

/* =================== PAGE EVENT STYLING =================== */

#page_event {
    color: #000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 50px auto;
    min-height: 0;
}

.re {
    border-radius: 5px;
    padding: 15px;
}

.shh {
    padding-top: 6px;
    line-height: 2;
}

/* =================== LAYOUT STRUCTURE =================== */


#container {
    display: block;
    top: 0 !important;
    min-width: 0 !important;
    width: 100% !important;
}

#page_content {
    top: 0 !important;
    padding-top: 300px;
    padding-bottom: 500px;
    position: relative;
    width: 100% !important;
    min-height: 100vh !important;
}

#gallery_items {
    width: 100% !important;
    height: 100% !important;
    display: block !important;
    position: relative !important;
    opacity: 0;
    animation: fadein 3s ease-in-out 2s forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

/* =================== NAV =================== */

nav {
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    opacity: 0;
    z-index: 99999;
    animation: nav-reveal ease-in-out 1.2s .3s forwards;
}

@keyframes nav-reveal {
    0% {
        opacity: 0;
        margin-top: -80px;
    }

    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

nav a {
    display: block;
    transition: 0.3s all ease;
    position: relative;
    width: 264px;
    height: 140px;
    overflow: hidden;
}

nav a:nth-of-type(1) {
    background-image: url(https://decygn.github.io/gc-cyde/commissions/stephanie-gallery/img/nav/toggle.png);
}

nav a:nth-of-type(1):hover {
    background-image: url(https://decygn.github.io/gc-cyde/commissions/stephanie-gallery/img/nav/toggle-hover.png);
}

nav a:nth-of-type(2) {
    margin-top: -32px;
    background-image: url(https://decygn.github.io/gc-cyde/commissions/stephanie-gallery/img/nav/lookup.png);
    height: 150px;
}

nav a:nth-of-type(2):hover {
    background-image: url(https://decygn.github.io/gc-cyde/commissions/stephanie-gallery/img/nav/lookup-hover.png);
    height: 150px;
}

nav a:nth-of-type(3) {
    background-image: url(https://decygn.github.io/gc-cyde/commissions/stephanie-gallery/img/nav/credit.png);
    height: 130px;
    margin-top: -5px;
}

nav a:nth-of-type(3):hover {
    background-image: url(https://decygn.github.io/gc-cyde/commissions/stephanie-gallery/img/nav/credit-hover.png);
    height: 130px;
}

/* =================== TITLE =================== */

#title {
    width: 100%;
    left: 0;
    right: 0;
    top: 200px;
    height: 40vh;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: flex-start;
    animation: title-reveal ease-in-out 1.6s .9s forwards;
}

@keyframes title-reveal {
    0% {
        opacity: 0;
        margin-top: -30px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

#title img {
    display: block;
    height: auto;
    max-width: 1500px;
    content: url(https://decygn.github.io/gc-cyde/commissions/stephanie-gallery/img/title.png);
    animation: float ease-in-out 3s infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* =================== FOREGROUNDS =================== */

#page_content::before {
    content: url(https://decygn.github.io/gc-cyde/commissions/stephanie-gallery/img/left-foreground.png);
    bottom: -10px;
    position: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    pointer-events: none;
    z-index: 5;
    opacity: 0;
    transform: scale(0.9) !important;
    transform-origin: left bottom;
    animation: slide-left 1s ease-in-out 1.2s forwards;
}

@keyframes slide-left {
    0% {
        margin-left: -50px;
        margin-bottom: -120px;
        transform: rotate(10deg);
    }

    100% {
        opacity: 100%;
        margin-left: 0;
        margin-bottom: -0px;
        transform: rotate(0deg);
    }
}

#container::after {
    content: url(https://decygn.github.io/gc-cyde/commissions/stephanie-gallery/img/right-foreground.png);
    right: 0;
    bottom: -10px;
    position: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.9) !important;
    transform-origin: right bottom;
    z-index: 9;
    animation: slide-right 1.2s ease-in-out 1.4s forwards;
}

@keyframes slide-right {
    0% {
        margin-right: -50px;
        margin-bottom: -120px;
        transform: rotate(-10deg);
    }

    100% {
        opacity: 100%;
        margin-right: 0;
        margin-bottom: -0px;
        transform: rotate(0deg);
    }
}

/* =================== GALLERY ITEM STYLING =================== */

.gallery_item {
    left: 0;
    top: 0;
    position: absolute;
    text-align: center;
}

.gallery_item img {
    width: 80px !important;
    height: 80px !important;
    border: 0 !important;
    background: none !important;
    margin-bottom: 3px;
}

.gallery-item-info {
    opacity: 0;
    transition: .3s ease all;
}

.gallery_item:hover .gallery-item-info {
    opacity: 1;
}

.gallery-item-name {
    line-height: 1;
}

.gallery-item-qty {
    text-transform: uppercase;
    font-size: 11px;
}

/* =================== ITEM ANIMATIONS =================== */

@keyframes move-ltr {
    0% {
        transform: translateX(calc(100vw + 180px));
    }

    100% {
        transform: translateX(calc(0vw - 180px));
    }
}

@keyframes move-rtl {
    0% {
        transform: translateX(calc(0vw - 180px));
    }

    100% {
        transform: translateX(calc(100vw + 180px));
    }
}

@keyframes bob {

    0%,
    50%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-5px);
    }

    75% {
        transform: translateY(-3px);
    }
}

/* =================== ITEM POSITIONS =================== */

/* madfish */

.gallery_item:has([src*="vor_madfish"]) {
    display: block !important;
    top: 540px;
    left: 500px;
    animation: move-rtl 70s linear infinite;
}

.gallery_item:has([src*="vor_madfish"]) img {
    content: url();
    animation: bob 2s ease infinite;
}

/* =================== MEDIA QUERIES =================== */

@media only screen and (max-width: 1600px) {
    #title img {
        max-width: 86vw;
    }
}